@model IEnumerable<HotelReservationsManager.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @{
                    bool isActive = (bool)TempData["active"];
                    TempData["active"] = isActive;
                    if (isActive)
                    {
                        bool isAdmin = (bool)TempData["admin"];
                        TempData["admin"] = isAdmin;
                        if (isAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.RoomId">Details</a>
                    }
                    else
                    {
                        <p>It seems that you are no longer hotel "RM"'s employee.</p>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
